/Arctic/win/server/modisProcessing/MODIS/hdf/
/Arctic/win/server/modisProcessing/MODIS/Ice/
/Arctic/win/server/modisProcessing/MODIS/Proba/
/Arctic/win/server/modisProcessing/MODIS/tiff/
/Arctic/win/server/modisdownload/Data/Modis_information_file/
/Arctic/win/server/modisdownload/Data/Modis_data/
/Arctic/win/server/test/
/Arctic/mac/server/modisProcessing/MODIS/hdf/
/Arctic/mac/server/modisProcessing/MODIS/Ice/
/Arctic/mac/server/modisProcessing/MODIS/Proba/
/Arctic/mac/server/modisProcessing/MODIS/tiff/
/Arctic/mac/server/modisdownload/Data/Modis_information_file/
/Arctic/mac/server/modisdownload/Data/Modis_data/
/Arctic/mac/server/test/
/Antarctic/mac/server/modisProcessing/MODIS/hdf/
/Antarctic/mac/server/modisProcessing/MODIS/Ice/
/Antarctic/mac/server/modisProcessing/MODIS/Proba/
/Antarctic/mac/server/modisProcessing/MODIS/tiff/
/Antarctic/mac/server/modisdownload/Data/Modis_information_file/
/Antarctic/mac/server/modisdownload/Data/Modis_data/
/Antarctic/mac/server/test/
*.pyc
*.txt